<!DOCTYPE HTML>
<html>
  <head>
    <style type="text/css">
    </style>
    <title>Формы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <form action="/logout" method="post">
      <input type="submit" value="Выйти"/>
      <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form><br><br>
    <h1>Информационная система военного округа</h1>
    <h2>Формы</h2>
    <form method="get" action="/voennosluzhashie"><button type="submit">Военнослужащие</button></form>
    <form method="get" action="/podrazdelenia"><button type="submit">Подразделения</button></form>
<!--    <form method="get" action="/voennosluzhashie"><button type="submit">Военнослужащие</button></form>-->
<!--    <form method="get" action="/voennosluzhashie"><button type="submit">Военнослужащие</button></form>-->
<!--    <form method="get" action="/voennosluzhashie"><button type="submit">Военнослужащие</button></form>-->
</html>