<!DOCTYPE HTML>
<html>
  <head>
    <style type="text/css">
    </style>
    <title>Формы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <form action="/logout" method="post">
      <input type="submit" value="Выйти"/>
      <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form><br><br>
    <h1>Информационная система военного округа</h1>
    <h2>Формы</h2>
    <form method="post" action="/person">
      <label>Введите нового военнослужащего:</label><br>
      <input type="text" name="firstName" placeholder="Фамилия"><br>
      <input type="text" name="lastName" placeholder="Имя"><br>
      <input type="text" name="thirdName" placeholder="Отчество"><br>
      <button type="submit">Добавить</button>
      <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form><br><br><br>
    <p>Список военнослужащих:</p>
    {{#persons}}
      <div>
        <b>{{firstName}}</b>
        <b>{{lastName}}</b>
        <b>{{thirdName}}</b>
      </div>
    {{/persons}}
  </body>
</html>