<!DOCTYPE HTML>
<html>
<head>
  <style type="text/css">
  </style>
  <title>Формы</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<form action="/logout" method="post">
  <input type="submit" value="Выйти"/>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form><br><br>
<form method="get" action="/back-forms">
  <button type="submit">Назад</button>
</form>
<h1>Информационная система военного округа</h1>
<h2>Подразделения</h2>
<p>Формы ввода новых подразделений:</p>
<label>Обратите внимание!</label><br>
<label>Для отделений и взводов выбирайте командиров из списка военнослужащих.</label><br>
<label>Для остальных видов подразделений выбирайте командиров из списка офицеров.</label><br>
<label>Спасибо, что внимательно заполняете соответствующие поля!</label><br>
<br>
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Добавить отделение:</p>
<form method="post" action="/otdelenie">
  <label>Задайте командира:</label><br>
  <input type=number name="id_komandir" placeholder="Введите id военнослужащего" required><br>
  <label>Задайте родительский взвод:</label><br>
  <input type=number name="id_vzvod" placeholder="Введите id взвода" ><br>
  <button type="submit">Создать новое Отделение</button>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<p>Список отделений:</p>
{{#otdelenia}}
  <div>
    <b>{{id}}: командир - {{kapitan.firstName}} {{kapitan.lastName}} {{kapitan.thirdName}} [id: {{kapitan.id}}]</b>
  </div>
{{/otdelenia}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Добавить взвод:</p>
<form method="post" action="/new-vzvod">
  <label>Задайте командира:</label><br>
  <input type=number name="id_komandir" placeholder="Введите id военнослужащего" required><br>
  <label>Задайте родительскую роту:</label><br>
  <input type=number name="id_rota" placeholder="Введите id роты" ><br>
  <button type="submit">Создать новый Взвод</button>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<p>Список взводов:</p>
{{#vzvodi}}
  <div>
    <b>{{id}}: командир - {{kapitan.firstName}} {{kapitan.lastName}} {{kapitan.thirdName}} [id: {{kapitan.id}}]</b>
  </div>
{{/vzvodi}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Добавить роту:</p>
<form method="post" action="/new-rota">
  <label>Задайте командира:</label><br>
  <input type=number name="id_komandir" placeholder="Введите id офицера" required><br>
  <label>Задайте родительскую воинскую часть:</label><br>
  <input type=number name="id_vchast" placeholder="Введите id воинской части" ><br>
  <button type="submit">Создать новую Роту</button>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<p>Список рот:</p>
{{#roti}}
  <div>
    <b>{{id}}: командир - {{kapitan.person.firstName}} {{kapitan.person.lastName}} {{kapitan.person.thirdName}} [id: {{kapitan.person.id}}]</b>
  </div>
{{/roti}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Добавить воинскую часть:</p>
<form method="post" action="/new-vchast">
  <label>Задайте командира:</label><br>
  <input type=number name="id_komandir" placeholder="Введите id офицера" required><br>
  <label>Задайте родительскую дивизию:</label><br>
  <input type=number name="id_divizia" placeholder="Введите id дивизии" ><br>
  <button type="submit">Создать новую Воинскую часть</button>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<p>Список воинских частей:</p>
{{#vchasti}}
  <div>
    <b>{{id}}: командир - {{kapitan.person.firstName}} {{kapitan.person.lastName}} {{kapitan.person.thirdName}} [id: {{kapitan.person.id}}]</b>
  </div>
{{/vchasti}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Добавить дивизию:</p>
<form method="post" action="/new-divizia">
  <label>Задайте командира:</label><br>
  <input type=number name="id_komandir" placeholder="Введите id офицера" required><br>
  <label>Задайте родительский корпус:</label><br>
  <input type=number name="id_korpus" placeholder="Введите id корпуса" ><br>
  <button type="submit">Создать новую Дивизию</button>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<p>Список дивизий:</p>
{{#divizii}}
  <div>
    <b>{{id}}: командир - {{kapitan.person.firstName}} {{kapitan.person.lastName}} {{kapitan.person.thirdName}} [id: {{kapitan.person.id}}]</b>
  </div>
{{/divizii}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Добавить корпус:</p>
<form method="post" action="/new-korpus">
  <label>Задайте командира:</label><br>
  <input type=number name="id_komandir" placeholder="Введите id офицера" required><br>
  <label>Задайте родительскую бригаду:</label><br>
  <input type=number name="id_brigada" placeholder="Введите id бригады" ><br>
  <button type="submit">Создать новый Корпус</button>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<p>Список корпусов:</p>
{{#korpusi}}
  <div>
    <b>{{id}}: командир - {{kapitan.person.firstName}} {{kapitan.person.lastName}} {{kapitan.person.thirdName}} [id: {{kapitan.person.id}}]</b>
  </div>
{{/korpusi}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Добавить бригаду:</p>
<form method="post" action="/new-brigada">
  <label>Задайте командира:</label><br>
  <input type=number name="id_komandir" placeholder="Введите id офицера" required><br>
  <label>Задайте родительскую армию:</label><br>
  <input type=number name="id_armia" placeholder="Введите id армии" ><br>
  <button type="submit">Создать новую Бригаду</button>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<p>Список бригад:</p>
{{#brigadi}}
  <div>
    <b>{{id}}: командир - {{kapitan.person.firstName}} {{kapitan.person.lastName}} {{kapitan.person.thirdName}} [id: {{kapitan.person.id}}]</b>
  </div>
{{/brigadi}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Добавить армию:</p>
<form method="post" action="/new-armia">
  <label>Задайте командира:</label><br>
  <input type=number name="id_komandir" placeholder="Введите id офицера" required><br>
  <button type="submit">Создать новую Армию</button>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<p>Список армий:</p>
{{#armii}}
  <div>
    <b>{{id}}: командир - {{kapitan.person.firstName}} {{kapitan.person.lastName}} {{kapitan.person.thirdName}} [id: {{kapitan.person.id}}]</b>
  </div>
{{/armii}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<br><br>
<h2>Вспомогательные данные</h2>
<p>Список офицеров:</p>
{{#oficerPersons}}
  <div>
    <b>{{oficerId}}</b>
    <b>{{firstName}}</b>
    <b>{{lastName}}</b>
    <b>{{thirdName}}</b>
  </div>
{{/oficerPersons}}
<br>
<p>Список военнослужащих:</p>
{{#allPersons}}
  <div>
    <b>{{id}}</b>
    <b>{{firstName}}</b>
    <b>{{lastName}}</b>
    <b>{{thirdName}}</b>
  </div>
{{/allPersons}}
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
</body>
</html>