<!DOCTYPE HTML>
<html>
  <head>
    <style type="text/css">
    </style>
    <title>Запросы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <form action="/logout" method="post">
      <input type="submit" value="Выйти"/>
      <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form><br><br>
    <form method="get" action="/back-main">
      <button type="submit">Назад</button>
    </form>
    <h1>Информационная система военного округа</h1>
    <h2>Запросы</h2>
  </body>
</html>